div.body{
    background: url(../../assets/bebidas/c2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: cover;
  padding-top: 10%;
  text-align: center;
  max-width: 100vw;
}

.row{
  max-width: 100vw;
  margin-top: 10%;
 
}
button{
  width: 57%;
}
div.Alcohol{
  text-align: center;
}

.drink-content{
  display: flex;
  padding: 1%;
  
  color: black;
}
.drink-content img{
  width: 50%;
  height: 60%;

}
.detail-drink{
  display: block;
  padding-left: 1%;
}
.container h3{
  color: chocolate;
  margin-top: 5%;

}
.alcohol div.content{
background: rgba(255, 255, 255, 0.7)
 }
.two{
    justify-content: center;
margin: 0;
}
button{
  border:none;
  background: chocolate;
   }
  .content h3{
    font-family:'Akronim';
    color:black;
    font-size:40px;
  }
  button:hover{
    background:chocolate;
  }
  @media (max-width: 768px){
    div.body{
      background: none;
    }
    button{
      margin-bottom: 5%;
    }
  }
  @media (max-width: 612px){
    div.body{
      margin-top: 10%;
        }
   
  }