<div class=" container body">
<div class="row line">
                <button type="button" class="btn btn-primary"  routerLink="/Alcoholicas">Con Alcohol</button>
                <button type="button" class="btn btn-primary"  routerLink="/Bebidas">Sin Alcohol</button>
<div class="col-md-6 Without">
               
        <div class="container content ">
        <h3>Calientes</h3>
        <div class="row">
                <div class="col-md-6 drink-content" *ngFor="let Calientes of calientes">
                       
             <img [src]='Calientes.url' />
             <div class="detail-drink">
                    <p> {{Calientes.nombre}} </p>
                    <div class="detail-out">
                        <p> Nacionalidad : {{Calientes.nacionalidad}} </p>
                       
                        <p>{{Calientes.precio}}</p>
                    </div>

                    
                    
                      </div>
        </div>
        
</div>
</div>

</div>
<div class="col-md-6 Without">
      
        <div class="container content ">
        <h3>Frias</h3>
        <div class="row">
                <div class="col-md-6 drink-content" *ngFor="let Frias of frias">
                       
             <img [src]='Frias.url' />
             <div class="detail-drink">
                    <p> {{Frias.nombre}} </p>
                    <div class="detail-out">
                        <p>  Nacionalidad : {{Frias.nacionalidad}} </p>
                        
                        <p>{{Frias.precio}}</p>
                    </div>

                    
                    
                      </div>
        </div>
        
</div>
</div>

</div>

</div>

       
      
</div>
