.imgMain{
    width: 100%;
    filter: brightness(45%);
}
.long-phrase{
    font-size: 25px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    color: white;
    text-align: center;
}
.long-phrase h3 {
    padding-top: 15%;
    font-size: 265%;
    font-family: 'Rubik';
}
 .text-place{
    font-family: 'Kaushan Script';
    font-size: 150%;
    color:white;
}
.title-offers{
    padding-top: 0;
}
div.offers div.title-offers div.plate{
    background: black;
    border-radius: 50% 50%;
    width: 50px;
    height: 50px;

}
.first-plates{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

}
.first-plates img {
width: 50px;
}
.food-one-offers{
    display: flex;
    padding: 1%;
}
.food-one-offers img{
    width: 40%;
    height: 10%;

}
.detail-plate{
    display: block;
    padding-left: 1%;
}
div.plate{
    background: red;
  border-radius: 15em;
  -moz-border-radius: 15em;
  -webkit-border-radius: 15em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 14em;
  margin-right: 15px;
  text-align: center;
  width: 30em; 
  padding: 5%;
  display: flex;
}
.detail-plate h4{
    color: chocolate;
}
.offers{
    display: flex;
    padding: 2%;
}
.pinture-offer{
    text-align: center;
    
}
.pinture-offer img{
    width: 50%;
    padding: 1%
}
.pinture-offer img:hover{
    transform: scale(1.25);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.marquee img{
padding-right: 5%;
}
.detail-plate{
    display:inline;
    }
    .detail-out h4{
        border-radius: 50px 50px;
        background: #110f0f;
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 2%;
    }
   
.menu-offers{
    padding-right: 10%;
}
.contact{
    text-align: center;
    background: chocolate;
    color: white;
    padding: 1%;
}

.horarios{
    background: black;
    
}
.horarios h2{
    border-bottom:2px solid chocolate;
    color: white;
}
.horarios h4{
color:chocolate;
display:flex;
}
.hora{
    color: aliceblue;

}
.horarios , .contactos{
    margin:0;
    max-width:100%;
}
@media (max-width: 870px) {
    .long-phrase h3 {
       
        font-size: 205%;
  }

  .offers {
    display: block;}
}
@media (max-width: 645px){
    .long-phrase h3 {
       
        font-size: 105%;
        padding-top:20%;
  }
}
@media (max-width: 525px){
    .long-phrase h3 {
       
        font-size: 85%;
        padding-top:30%;
  }  
}
@media (max-width: 405px){
    .long-phrase h3 {
       
        font-size: 85%;
        padding-top:40%;
  } 
  .imgMain{
    height: 365px;
} 
.contact img{
width: 15%;
}
}