<div class="body">
    <div class="position">
        <h4 class="title">
            Nuestras
            <p>Especialidades</p>
          </h4>
        <div class="slider">
          <ul>
            <li>
        <img src="../assets/americana/costillas.jpg" alt="">
        <h4>Mexico</h4>
        </li>
            <li>
              <img src="../assets/americana/ensalada.jpg" alt="">
            </li>
            <li>
              <img src="../assets/china/carne_champiñones.jpg" alt="">
        </li>
            <li>
              <img src="../assets/italia/canelones.jpg" alt="">
            </li>
          </ul>
        </div>
  
           
          
       </div>
</div>
