div.body{
    background: url(../../assets/fondo3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: cover;
  
}
div.position{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
}
div.position div.container{
	margin-top: 10%;
	background: black;
	color: aliceblue;

}
.carousel-indicators{
	top: 5%;
}
div.position h4.title{
	padding-top: 13%;
	font-size: 2.5rem;
	background: chocolate;
	color: white;

}
.slider {
	
	width: 75%;
	margin: auto;
    overflow: hidden;
    background: aliceblue;
    opacity: 1.5;
	height: 45%;
	margin-top: 5%;

}

.slider ul {
	display: flex;
	padding: 5% 0;
	width: 400%;
	text-align: center;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 50%;
	height: 300px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.row img{
width: 55%;
}
.row.plates{
	display: block;
}

ol li{
background: chocolate;
padding-right: 5%;
width: 10%;
height: 10px;
}
#carouselExampleIndicators .carousel{
	padding-top: 5%;
	text-align: center;
}
#carouselExampleIndicators{margin-top: 5%;
	background: aliceblue;}
#carouselExampleIndicators h4{
	padding: 0 3%;
    font-size: xx-large;

}