<div class="body">
    <div class="position">
        <h4 class="title">
            Nuestras
            <p>Especialidades</p>
          </h4>
        <div class="slider">
          <ul>
            <li>
        <img src="../assets/americana/costillas.jpg" alt="">
        <h4>Mexico</h4>
        </li>
            <li>
              <img src="../assets/americana/ensalada.jpg" alt="">
            </li>
            <li>
              <img src="../assets/china/carne_champiñones.jpg" alt="">
        </li>
            <li>
              <img src="../assets/italia/canelones.jpg" alt="">
            </li>
          </ul>
        </div>
  
        <div class="container">
          <h4>Menu</h4>
          <div class="row">
          <div class="col-md-4 plates" *ngFor="let ITALIA of italia">
            <img  [src]='ITALIA.url'  alt="">
            <h3 >{{ITALIA.nombre}}</h3>
            <div>{{ITALIA.clasificacion}}</div>
            <div>{{ITALIA.cantidad}}</div>
            <div>{{ITALIA.ingredientes}}</div>
            <div>{{ITALIA.precio}}</div>
          </div>
          </div>
         </div>
          
       </div>
       
</div>
